body {
  background-color: #f4eeff;
  font-family: "Rubik", sans-serif;
}

a {
  color: rgb(136, 98, 207);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 3px 10px rgba(156, 149, 173, 0.8);
  border-radius: 16px;
}

header {
  border-bottom: 1px solid #f4eeff;
  padding: 0 0 20px 0;
}

.search-form-input {
  background-color: #f4eeff;
  border: none;
  border-radius: 16px;
  width: 80%;
  font-size: 15px;
  padding: 10px 15px;
}

.search-form-button {
  background: rgb(136, 98, 207);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  font-size: 15px;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

.line-1 {
  display: flex;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
}

.date-time {
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  color: rgb(85, 85, 85);
}

.line-2 {
  display: flex;
  justify-content: space-between;
}

.weather-details {
  display: flex;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 12px 0;
}

.temperature {
  list-style-type: none;
  padding: 0 0 0 20px;
}

.temperature-container {
  display: flex;
}

.temperature-value {
  font-size: 50px;
}

.unit {
  margin-top: 10px;
  font-weight: 500;
}

.weather-description {
  padding: 3px 7px;
  color: rgb(85, 85, 85);
  font-size: larger;
}

.weather-stats {
  list-style-type: none;
  margin: 0px;
  padding: 25px 15px;
  color: rgb(85, 85, 85);
}

.weather-stats li {
  padding: 5px;
}

.weather-stats strong {
  color: blueviolet;
}

.line-3 {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: rgb(85, 85, 85);
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  display: flex;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  color: blueviolet;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f4eeff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
